body {
  font-family: Arial;
  background-color: #3172AE;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #eee;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  margin-top:1rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; 
}

.navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; 
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3172AE;
  transform: translateX(1rem); 
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #fff, #fffff0);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 0.2 rem;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.content {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 100vh
}
